<p>ADD-players works!</p>


<form [formGroup]="playerform" (ngSubmit)="onSave()">

    <div  class="container jumbotron" style="width:500px;">


        <div class="form-control">

        <label for="name">Name</label>
        <input type="text" id="name" name="name" formControlName="name" class="form-control">
        </div>

        <div class="form-control">
        <label for="Age">Name</label>
        <input type="text" id="age" name="age" formControlName="age"  class="form-control">
        </div>

        <div class="form-control">
            <label for="teamId">Team ID</label>
            <input type="text" id="teamId" name="teamId" formControlName="teamId"  class="form-control">
        </div>

        
        <div class="form-control">
            <label for="category">Team ID</label>
            <input type="text" id="category" name="category" formControlName="category"  class="form-control">
        </div>

        <div class="form-control">
            <label for="biddingPrice">Team ID</label>
            <input type="text" id="biddingPrice" name="biddingPrice" formControlName="biddingPrice">
        </div>

        <p>
                    <button type="submit" (click)="onSave()" class="btn btn-success">Add</button>
        </p>    
    </div>

</form>
